---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/mostpopular/v2/mostemailed/all-sections/30.json?api-key=f185cf82170b4bf6970752f56a62f867
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '999'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2016 The New York Times Company.  All
        Rights Reserved.","num_results":770,"results":[{"url":"http:\/\/www.nytimes.com\/2016\/05\/02\/health\/biggest-loser-weight-loss.html","count_type":"EMAILED","column":"The
        Science of Fat","section":"Health","byline":"By GINA KOLATA","title":"After
        \u2018The Biggest Loser,\u2019 Their Bodies Fought to Regain Weight","abstract":"Contestants
        lost hundreds of pounds during Season 8, but gained them back. A study of
        their struggles helps explain why so many people fail to keep off the weight
        they lose.","published_date":"2016-05-02","source":"The New York Times","des_facet":["OBESITY","TELEVISION","SERIES","CALORIES"],"org_facet":["OBESITY
        (JOURNAL)","NATIONAL INSTITUTE OF DIABETES AND DIGESTIVE AND KIDNEY DISEASES","NATIONAL
        INSTITUTES OF HEALTH"],"per_facet":["CAHILL, DANNY (1969- )"],"geo_facet":"","media":[{"type":"image","subtype":"photo","caption":"Sean
        Algaier taking communion at Providence Road Church of Christ in Charlotte,
        N.C., where he is a pastor.","copyright":"George Etheredge for The New York
        Times","media-metadata":[{"url":"https:\/\/static01.nyt.com\/images\/2016\/04\/29\/science\/02BIGGESTLOSER\/02BIGGESTLOSER-thumbStandard.jpg","format":"Standard
        Thumbnail","height":75,"width":75},{"url":"https:\/\/static01.nyt.com\/images\/2016\/04\/29\/science\/02BIGGESTLOSER\/02BIGGESTLOSER-mediumThreeByTwo210.jpg","format":"mediumThreeByTwo210","height":140,"width":210},{"url":"https:\/\/static01.nyt.com\/images\/2016\/04\/29\/science\/02BIGGESTLOSER\/02BIGGESTLOSER-mediumThreeByTwo440.jpg","format":"mediumThreeByTwo440","height":293,"width":440}]}]},{"url":"http:\/\/www.nytimes.com\/2016\/05\/08\/opinion\/sunday\/why-you-cant-lose-weight-on-a-diet.html","count_type":"EMAILED","co[...]
[...]
